* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PT Sans';
   src: url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ptsans.woff') format('woff');   /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'PT Sans Bold';
   src: url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ptsansbold.woff') format('woff');   /* Pretty Modern Browsers */
}

body {

  margin: 0;
  padding: 0;

  min-width: 320px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $text-color;
  font-style: normal;

  background-color: $site-bg-color;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
}
p, ul  {
  margin-top: 0;
}
