* {
  box-sizing: border-box;
}
body {

  margin: 0;
  padding: 0;

  min-width: 320px;

  font-size: 18px;
  line-height: 26px;
  font-family: Arial, sans-serif;
  color: $text-color;
  font-style: normal;

  background-color: $site-bg-color;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
}
p, ul  {
  margin-top: 0;
}
