.btn  {
  font-size: 21px;
  line-height: 26px;

  padding: 20px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: $white;
  background-color: $btn-bg-color;
  &:hover  {
    background-color: #669ec0;
  }
  &:active  {
    color: #94b9d2;
    background-color: #5496bd;
  }
  &:disabled  {
    color: $white;
    background-color: #e5e5e5;
    cursor: not-allowed;
  }
}
