.btn  {
  font-size: 21px;
  line-height: 26px;

  padding: 20px;

  text-align: center;
  text-decoration: none;
  cursor: pointer;

  color: $white;
  background-color: $btn-bg-color;
  &:hover  {
    background-color: #669ec0;
  }
  &:active  {
    color: #94b9d2;
    background-color: #5496bd;
  }
}
