.btn {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  padding: 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    color: #94b9d2;
  }

}
