.contact‐form  {
  display: block;

  margin: 37px 0 38px;
  padding: 0;
}

.contact‐form__set  {
  display: flex;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.contact‐form__section-title  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;
}

.contact‐form__group  {
  display: flex;

  width: 100%;
  margin: 0 0 20px;
}

.contact‐form__inputgroup  {
  display: flex;
}

.contact‐form__label  {
  font-size: 14px;
  line-height: 26px;

  display: inline-block; /*middle*/

  max-width: 180px;
  margin: 0;
  padding: 16px 16px 16px 0;

  text-transform: uppercase;
  vertical-align: middle;

  color: $gray-dark;

  flex-shrink: 0;
}

.contact‐form__input  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  position: relative;

  box-sizing: border-box;
  min-width: 20px;
  padding: 12px 16px;

  color: $black;
  border: 4px solid $site-bg-color;
  background-color: $site-bg-color;

  flex-grow: 1;
  &::placeholder  {
    color: $black;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    opacity:  1;
  }
  &:hover  {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }
  &:focus  {
    border-color: #e5e5e5;
    outline: none;
    background-color: $white;
  }
}

.contact‐form__icon-phone  {
  display: inline-block; /*middle*/

  width: 64px;
  height: 58px;

  vertical-align: middle;

  background: #e6e6e6 url('../img/icon-phone.svg') no-repeat 50% 50%;
}

.contact‐form__icon-email  {
  display: inline-block; /*middle*/

  width: 64px;
  height: 58px;

  vertical-align: middle;

  background: #e6e6e6 url('../img/icon-mail.svg') no-repeat 50% 50%;
}

.contact‐form__emulation  {
  display: block;

  min-height: 56px;
  margin: 0 0 13px;
  padding: 0;

}

/* Radiobutton emulation */
.contact‐form__label-emulation-rb  {
  position: relative;

  display: inline-block; /*middle*/

  padding-top: 14px;
  padding-left: 80px;

  vertical-align: middle;

  cursor: pointer;
}

.contact‐form__label-emulation-rb::before,
.contact‐form__label-emulation-rb::after  {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  border-radius: 50%;
}

.contact‐form__label-emulation-rb::before  {
  width: 24px;
  height: 24px;

  border: solid 16px $site-bg-color;
  background-color: $site-bg-color;
  &:hover  {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }
  &:active  {
    border-color: #d5d5d5;
    background-color: #d5d5d5;
  }
}

.contact‐form__label-emulation-rb::after  {
  top: 17px;
  left: 17px;

  width: 22px;
  height: 22px;

  transition-duration: .28s;
  transition-property: transform ;
  transform: scale(0);

  background-color: $gray-dark;
}

.contact‐form__radio  {
  display: none;
}

.contact‐form__radio:checked ~ label::after  {
  transform: scale(1.1);
}


/* Checkbox emulation */

.contact‐form__label-emulation-chb  {
  position: relative;

  display: inline-block; /*middle*/

  padding-top: 14px;
  padding-left: 80px;

  vertical-align: middle;

  cursor: pointer;
}

.contact‐form__label-emulation-chb::before,
.contact‐form__label-emulation-chb::after  {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  border-radius: 5px;
}

.contact‐form__label-emulation-chb::before  {
  width: 56px;
  height: 56px;

  background-color: $site-bg-color;
  &:hover  {
    background-color: #e5e5e5;
  }
  &:active  {
    background-color: #d5d5d5;
  }
}

.contact‐form__label-emulation-chb::after  {
  width: 56px;
  height: 56px;

  transition-duration: .28s;
  transition-property: transform ;
  transform: scale(0);

  background: url('../img/icon-tick.svg') no-repeat 50% 50%;
}

.contact‐form__check  {
  display: none;
}

.contact‐form__check:checked ~ label::after  {
  transform: scale(1.1);
}

.contact‐form__textarea  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  display: block;

  box-sizing: border-box;
  width: 100%;
  min-width: 50px;
  height: 160px;
  padding: 12px 17px;

  resize: none;

  color: $black;
  border: 4px solid $site-bg-color;
  background-color: $site-bg-color;
  &::placeholder  {
    color: $black;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    opacity:  1;
  }
  &:hover  {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }
  &:focus  {
    border-color: #e5e5e5;
    outline: none;
    background-color: $white;
  }
}

/*Pop-ups*/
.contact‐form__popup-error  {

}

.contact‐form__popup-error  {

  position: fixed;

  z-index: 200;
  top: 50%;
  left: 50%;

  display: none;

  box-sizing: border-box;
  width: 320px;
  padding: 50px 40px 40px;

  transform: translate(-50%,-50%);
  text-align: center;

  background-color: $white;
  box-shadow: 0 3px 16px -2px rgba(0, 0, 0, .2);
}

.contact‐form__popup-ok  {

  position: fixed;

  z-index: 200;
  top: 50%;
  left: 50%;

  box-sizing: border-box;
  width: 320px;
  padding: 50px 20px 0;

  transform: translate(-50%,-50%);
  text-align: center;

  background-color: $white;
  box-shadow: 0 3px 16px -2px rgba(0, 0, 0, .2);
}

.contact‐form__popup-title  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  margin: 0 0 40px;
  padding: 0;

  text-transform: uppercase;
}

.contact‐form__popup-message  {
  font-size: 14px;
  line-height: 24px;

  margin: 0 20px 30px;
  padding: 0;

  text-transform: uppercase;
}

.contact‐form__popup-action  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  width: 180px;
  margin: 0 auto;
  padding: 16px 45px;

  text-transform: uppercase;

  color: $white;
  border: none;
}

.contact‐form__popup-footer  {
  margin: 0 -20px;
  padding: 20px;

  background-color: $site-bg-color;
  .contact‐form__popup-action  {
    width: 100%;
    margin-bottom: 0;
  }
}

.contact‐form__popup--closed  {
  display: none;
}

.contact‐form__popup--opened  {
  display: block;
}

@media #{$tablet-widths}  {

  .contact‐form__emulation  {
    margin: 0 0 22px;
  }

  .contact‐form__label-emulation-rb  {
    padding-left: 76px;
  }

  .contact‐form__popup-title  {
    font-size: 30px;
    line-height: 35px;

    margin: 0 20px;
  }

  .contact‐form__popup-message  {
    margin: 20px 0 35px;
  }

  .contact‐form__popup-action  {
    width: 280px;
  }

  .contact‐form__popup-error  {
    width: 400px;
    padding: 60px 60px 50px;
  }

  .contact‐form__popup-ok  {
    width: 648px;
    padding: 65px 95px 0;
  }
  .contact‐form__popup-footer  {
    margin: 0 -95px;
    padding: 45px 0;
    .contact‐form__popup-action  {
      width: 458px;
      margin-bottom: 0;
    }
  }
}

@media #{$desktop-widths}  {
  .contact‐form__label-emulation-rb  {
    padding-left: 79px;
  }
}


.contact‐form__reviewer  {
  margin: 0;
  padding: 20px 20px 0;
  min-width: 0;
  border: none;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    flex-direction: column;

    margin: 21px 0 4px;

    justify-content: space-between;
  }
}

.contact‐form__contacts  {
  margin: 0;
  padding: 19px 20px 4px;
  min-width: 0;
  border: none;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    flex-direction: column;

    margin: 19px 0 10px;

    justify-content: space-between;
  }
  .contact‐form__group  {
    flex-direction: column;

    margin-bottom: 13px;

    justify-content: space-around;
  }
  .contact‐form__label  {
    margin-top: -16px;
    margin-bottom: -9px;
    margin-left: 22px;
  }
}



.contact‐form__impressions  {
  margin: 0;
  padding: 18px 20px 0px;
  min-width: 0;
  border: none;

  border-top: 1px solid #e5e5e5;

  .contact‐form__set  {

    font-weight: bold;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

    margin: 23px 0 14px;

  }
}

.contact‐form__visits  {
  margin: 0 0 -2px;
  padding: 18px 20px 0px;
  min-width: 0;
  border: none;

  border-top: 1px solid #e5e5e5;

  .contact‐form__set  {
    font-weight: bold;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

    margin: 16px 0 0;

  }
  .contact‐form__emulation  {
    margin: 0 0 25px;
  }
}

.contact‐form__emotions  {
  margin: 0;
  padding: 18px 20px 20px;
  min-width: 0;
  border: none;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    flex-direction: column;

    margin: 17px 0 31px;

    justify-content: space-between;
  }
}

.contact‐form__action  {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;

  display: block;

  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 16px 40px;

  text-transform: uppercase;

  color: $white;
  border: none;
}

.contact‐form__legend  {
  display: none;
}


@media #{$tablet-widths}  {
  //---------------------------------

  .contact‐form  {
    display: flex;

    flex-wrap: wrap;
  }

  .contact‐form__section-title  {
    font-size: 21px;
  }

  .contact‐form__impressions  {
    width: 324px;
    padding: 0;

    border-top: none;

    order: 1;
    .contact‐form__set  {
      flex-direction: column;
      flex-wrap: wrap;

      min-height: 212px;
      margin: 58px 0 57px;

      justify-content: space-between;
    }
    .contact‐form__section-title  {
      text-align: left;
    }
  }

  .contact‐form__reviewer  {
    position: relative;

    width: 323px;
    padding: 0;
    padding-left: 56px;

    border-top: none;

    order: 2;
    &::after  {
      position: absolute;
      top: 0;
      right: 300px;
      bottom: 75px;
      left: 0;

      content: '';
      /*z-index: 400;*/

      border-left: 1px solid #dbdbdb;
      background: transparent;
    }
    .contact‐form__set  {
      flex-direction: column;

      margin: 57px 0 61px;

      justify-content: space-between;
    }
    .contact‐form__section-title  {
      text-align: left;
    }
  }

  .contact‐form__contacts  {
    position: relative;

    width: 100%;
    padding: 0;
    padding: 0 20px 10px;

    text-align: center;

    order: 3;
    .contact‐form__section-title  {
      position: relative;
      top: -13px;

      display: inline-block; /*middle*/
      vertical-align: middle;

      width: 400px;

      text-align: center;

      background-color: $white;
    }

    .contact‐form__set  {

      flex-direction: column;

      min-height: 212px;
      margin: 10px -20px 44px;

      justify-content: space-between;
    }
    .contact‐form__group  {
      margin-bottom: 24px;
    }
    .contact‐form__label  {
      margin-top: -17px;
      margin-bottom: -9px;
      margin-left: 20px;
      text-align: left;
    }
  }

  .contact‐form__icon-phone  {
    width: 58px;
  }

  .contact‐form__icon-email  {
    width: 58px;
  }

  .contact‐form__visits  { //Посещенные достопримечательности:
    position: relative;

    width: 100%;
    padding: 0;

    text-align: center;

    order: 4;
    .contact‐form__section-title  {
      position: relative;
      top: -25px;

      display: inline-block;  /*middle*/

      width: 400px;
      margin: 0;
      padding: 0;

      text-align: center;
      vertical-align: middle;

      background-color: $white;
    }

    .contact‐form__set  {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;

      width: 460px;
      min-height: 144px;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 51px;
      padding: 0;

    }
    .contact‐form__emulation  {
      width: auto;
      min-width: 200px;
      margin-bottom: 32px;

      text-align: left;

    }
    .contact‐form__emulation:nth-child(1)  {
      order: 1;
    }
    .contact‐form__emulation:nth-child(2)  {
      order: 3;
    }
    .contact‐form__emulation:nth-child(3)  {
      order: 2;
    }
    .contact‐form__emulation:nth-child(4)  {
      order: 4;
    }
  }

  .contact‐form__emotions  {
    width: 100%;
    padding: 0;

    text-align: center;

    order: 5;
    .contact‐form__section-title  {
      position: relative;
      top: -14px;

      display: inline-block; /*middle*/

      width: 400px;
      margin: 0;
      padding: 0;

      text-align: center;
      vertical-align: middle;

      background-color: $white;
    }
    .contact‐form__set  {
      margin-top: 42px;
      margin-bottom: 59px;
    }
  }

  .contact‐form__action  {
    font-size: 21px;

    width: 324px;
    padding-left: 29px;

    order: 6;
  }

  .contact‐form__legend  {
    font-size: 14px;
    line-height: 58px;

    display: block;

    width: 50%;

    text-align: right;
    text-transform: uppercase;

    order: 7;
  }

  //---------------------------------
}


@media #{$desktop-widths}  {
  //---------------------------------

  .contact‐form__impressions  {
    width: 479px;
    .contact‐form__section-title  {
      margin-left: 77px;
    }
    .contact‐form__set  {
      min-height: 212px;
      margin: 60px 0 0;
    }
  }

  .contact‐form__reviewer  {
    width: 480px;
    padding-left: 80px;
    &::after  {
      right: 400px;
    }
    .contact‐form__set  {
      min-height: 214px;
      margin: 57px 0 60px;
    }
  }

  .contact‐form__contacts  {

    padding: 0 0 10px;


    .contact‐form__set  {
      flex-direction: row;

      min-height: 58px;
      margin: 58px 0 56px;

      justify-content: space-between;
    }
    .contact‐form__group  {
      flex-direction: row;

      width: 480px;
      margin-bottom: 13px;

      justify-content: space-around;
    }
    .contact‐form__group:first-child  {
      padding-right: 80px;
    }
    .contact‐form__label  {
      margin: 0;
      padding: 16px 16px 16px 0;
    }
    .contact‐form__label span  {
      display: none;
    }
    .contact‐form__inputgroup  {
      flex-grow: 1;
    }
  }

  .contact‐form__visits  {
    .contact‐form__section-title  {
      top: -26px;
    }
    .contact‐form__set  {
      flex-direction: row;

      width: 100%;
      min-height: 58px;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 49px;

      justify-content: space-between;
    }
    .contact‐form__emulation  {
      width: auto;
      min-width: auto;

      text-align: left;
    }
    .contact‐form__emulation:nth-child(1)  {
      order: 1;
    }
    .contact‐form__emulation:nth-child(2)  {
      order: 3;
    }
    .contact‐form__emulation:nth-child(3)  {
      order: 2;
    }
    .contact‐form__emulation:nth-child(4)  {
      order: 4;
    }
  }

  .contact‐form__emotions  {
    .contact‐form__set  {
      margin-bottom: 58px;
    }
  }

  .contact‐form__action  {
    width: 480px;
    padding-left: 40px;
  }

  //---------------------------------
}
