@media #{$tablet-widths} {

//---------------------------------

.contact‐form {
  display: flex;
  flex-wrap: wrap;
}

.contact‐form__section-title {
  font-size: 21px;
}

.contact‐form__impressions {
  order: 1;

  width: 324px;
  border-top: none;
  padding: 0;

  .contact‐form__set {
    min-height: 212px;
    margin: 58px 0px 57px;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact‐form__section-title {
    text-align: left;
  }
}

.contact‐form__reviewer {
  order: 2;

  position: relative;

  width: 323px;
  border-top: none;
  padding: 0;
  padding-left: 56px;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 300px;
    bottom: 75px;
    background: transparent;
    /*z-index: 400;*/
    border-left: 1px solid #dbdbdb;
  }

  .contact‐form__set {
    margin: 57px 0 61px;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact‐form__section-title {
    text-align: left;
  }
}

.contact‐form__contacts {
  order: 3;
  width: 100%;
  padding: 0;

  position: relative;
  padding: 0px 20px 10px;

  .contact‐form__section-title {
    top: -13px;
    left: 104px;
    width: 400px;
    margin: 0;

    position: relative;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
  }

  .contact‐form__set {
    min-height: 215px;
    margin: 10px -20px 58px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contact‐form__icon-phone {
  width: 58px;
}

.contact‐form__icon-email {
  width: 58px;
}

.contact‐form__visits {
  width: 100%;
  order: 4;
  padding: 0;

  position: relative;
  text-align: center;

  .contact‐form__section-title {

    position: relative;
    top: -25px;

    display: inline-block;
    width: 400px;
    margin: 0;
    padding: 0;


    background-color: #ffffff;
    text-align: center;
  }

  .contact‐form__set {
    width: 460px;
    min-height: 144px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 80px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .contact‐form__emulation {
    width: auto;
    min-width: 200px;
    text-align: left;
  }
  .contact‐form__emulation:nth-child(1) {
    order: 1;
  }
  .contact‐form__emulation:nth-child(2) {
    order: 3;
  }
  .contact‐form__emulation:nth-child(3) {
    order: 2;
  }
  .contact‐form__emulation:nth-child(4) {
    order: 4;
  }

}

.contact‐form__emotions {
  order: 5;
  width: 100%;
  padding: 0;
  text-align: center;

  .contact‐form__section-title {

    position: relative;
    top: -14px;

    display: inline-block;
    width: 400px;
    margin: 0;
    padding: 0;


    background-color: #ffffff;
    text-align: center;
  }

  .contact‐form__set {
    margin-top: 42px;
    margin-bottom: 59px;
  }

}

.contact‐form__action {
  order: 6;
  width: 324px;
  font-size: 21px;
  padding-left: 29px;
}

.contact‐form__legend {
  display: block;
  order: 7;
  width: 50%;
  text-align: right;
  text-transform: uppercase;
  line-height: 58px;
  font-size: 14px;
}

//---------------------------------

}
