@media #{$tablet-widths}  {
  //---------------------------------

  .contact‐form  {
    display: flex;

    flex-wrap: wrap;
  }

  .contact‐form__section-title  {
    font-size: 21px;
  }

  .contact‐form__impressions  {
    width: 324px;
    padding: 0;

    border-top: none;

    order: 1;
    .contact‐form__set  {
      flex-direction: column;

      min-height: 212px;
      margin: 58px 0 57px;

      justify-content: space-between;
    }
    .contact‐form__section-title  {
      text-align: left;
    }
  }

  .contact‐form__reviewer  {
    position: relative;

    width: 323px;
    padding: 0;
    padding-left: 56px;

    border-top: none;

    order: 2;
    &::after  {
      position: absolute;
      top: 0;
      right: 300px;
      bottom: 75px;
      left: 0;

      content: '';
      /*z-index: 400;*/

      border-left: 1px solid #dbdbdb;
      background: transparent;
    }
    .contact‐form__set  {
      flex-direction: column;

      margin: 57px 0 61px;

      justify-content: space-between;
    }
    .contact‐form__section-title  {
      text-align: left;
    }
  }

  .contact‐form__contacts  {
    position: relative;

    width: 100%;
    padding: 0;
    padding: 0 20px 10px;

    text-align: center;

    order: 3;
    .contact‐form__section-title  {
      position: relative;
      top: -13px;

      display: inline-block;

      width: 400px;

      text-align: center;

      background-color: $white;
    }
    .contact‐form__set  {
      flex-direction: column;

      min-height: 215px;
      margin: 10px -20px 58px;

      justify-content: space-between;
    }
    .contact‐form__group  {
      margin-bottom: 11px;
    }
  }

  .contact‐form__icon-phone  {
    width: 58px;
  }

  .contact‐form__icon-email  {
    width: 58px;
  }

  .contact‐form__visits  {
    position: relative;

    width: 100%;
    padding: 0;

    text-align: center;

    order: 4;
    .contact‐form__section-title  {
      position: relative;
      top: -25px;

      display: inline-block;

      width: 400px;
      margin: 0;
      padding: 0;

      text-align: center;

      background-color: $white;
    }
    .contact‐form__set  {
      flex-direction: row;

      width: 460px;
      min-height: 144px;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 80px;
      padding: 0;

      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }
    .contact‐form__emulation  {
      width: auto;
      min-width: 200px;

      text-align: left;
    }
    .contact‐form__emulation:nth-child(1)  {
      order: 1;
    }
    .contact‐form__emulation:nth-child(2)  {
      order: 3;
    }
    .contact‐form__emulation:nth-child(3)  {
      order: 2;
    }
    .contact‐form__emulation:nth-child(4)  {
      order: 4;
    }
  }

  .contact‐form__emotions  {
    width: 100%;
    padding: 0;

    text-align: center;

    order: 5;
    .contact‐form__section-title  {
      position: relative;
      top: -14px;

      display: inline-block;

      width: 400px;
      margin: 0;
      padding: 0;

      text-align: center;

      background-color: $white;
    }
    .contact‐form__set  {
      margin-top: 42px;
      margin-bottom: 59px;
    }
  }

  .contact‐form__action  {
    font-size: 21px;

    width: 324px;
    padding-left: 29px;

    order: 6;
  }

  .contact‐form__legend  {
    font-size: 14px;
    line-height: 58px;

    display: block;

    width: 50%;

    text-align: right;
    text-transform: uppercase;

    order: 7;
  }

  //---------------------------------
}
