.contact‐form__reviewer  {
  margin: 0;
  padding: 20px 20px 0;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    flex-direction: column;

    margin: 21px 0 4px;

    justify-content: space-between;
  }
}

.contact‐form__contacts  {
  margin: 0;
  padding: 19px 20px 4px;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    flex-direction: column;

    margin: 19px 0 10px;

    justify-content: space-between;
  }
  .contact‐form__group  {
    flex-direction: column;

    margin-bottom: 13px;

    justify-content: space-around;
  }
  .contact‐form__label  {
    margin-top: -16px;
    margin-bottom: -9px;
    margin-left: 22px;
  }
}



.contact‐form__impressions  {
  margin: 0;
  padding: 18px 20px 4px;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    font-weight: bold;

    flex-direction: column;

    min-height: 194px;
    margin: 23px 0;

    justify-content: space-between;
  }
}

.contact‐form__visits  {
  margin: 0;
  padding: 18px 20px 7px;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    font-weight: bold;

    flex-direction: column;

    min-height: 295px;
    margin: 18px 0;

    justify-content: space-between;
  }
}

.contact‐form__emotions  {
  margin: 0;
  padding: 18px 20px 0;

  border-top: 1px solid #e5e5e5;
  .contact‐form__set  {
    flex-direction: column;

    height: 160px;
    margin: 17px 0 51px;

    justify-content: space-between;
  }
}

.contact‐form__action  {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;

  display: block;

  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 16px 40px;

  text-transform: uppercase;

  color: $white;
  border: none;
}

.contact‐form__legend  {
  display: none;
}
