.contact‐form {

  display: block;
  margin: 0;
  padding: 0;

}
.contact‐form__reviewer {

  margin: 0;
  padding: 24px 20px 25px;
  border-top: 1px solid #e5e5e5;

  height: 310px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact‐form__contacts {

  margin: 0;
  padding: 25px 20px 25px;

  border-top: 1px solid #e5e5e5;

  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.contact‐form__impressions {

  margin: 0;
  padding: 25px 20px 25px;

  border-top: 1px solid #e5e5e5;

  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.contact‐form__visits {

  margin: 0;
  padding: 25px 20px 25px;

  border-top: 1px solid #e5e5e5;

  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.contact‐form__emotions {

  height: 265px;

  margin: 0;
  padding: 25px 20px 53px;

  border-top: 1px solid #e5e5e5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.contact‐form__action {

  display: block;

  width: 280px;

  margin: 0 auto;
  margin-bottom: 23px;
  padding: 16px 45px;

  border: none;
  color: $white;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;

}

.contact‐form__legend {

  display: none;

}




.contact‐form__section-title {

  margin: 0;
  padding: 0 0 3px;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}

.contact‐form__group {

  display: flex;
  width: 280px;

}
.contact‐form__label {

  display: inline-block;
  height: 58px;
  padding: 0 10px 0;

  line-height: 58px;
  color: #333333;

  flex-shrink: 0;

}

.contact‐form__labeldiv {

  display: block;
  width: auto;
  padding: 0 0 0 22px;
  color: #333333;

}

.contact‐form__input {

  position: relative;

  box-sizing: border-box;

  min-width: 50px;

  background-color: #f2f2f2;
  padding: 12px 22px;

  border: 4px solid #f2f2f2;

  color: $black;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  flex-grow: 1;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:focus {
    background-color: $white;
    border-color: #e5e5e5;
    outline: none;
  }

}

.contact‐form__icon-phone {

  display: inline-block;
  width: 58px;
  height: 58px;

  background: #e6e6e6 url("../img/icon-phone.svg") no-repeat 50% 50%;

}

.contact‐form__icon-email {

  display: inline-block;
  width: 58px;
  height: 58px;

  background: #e6e6e6 url("../img/icon-mail.svg") no-repeat 50% 50%;

}

.contact‐form__emulation {

  display: block;
  min-height: 56px;
  margin: 0;
  padding: 0;

}

/* Radiobutton emulation */
.contact‐form__label-emulation-rb {

  display: inline-block;

  position: relative;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 70px;

}

.contact‐form__label-emulation-rb::before,
.contact‐form__label-emulation-rb::after {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;

}

.contact‐form__label-emulation-rb::before {

  width: 24px;
  height: 24px;
  background-color: #f2f2f2;
  border: solid 16px #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }

}

.contact‐form__label-emulation-rb::after {

  top: 17px;
  left: 17px;

  width: 22px;
  height: 22px;
  background-color: #333333;
  transform: scale(0);
  transition-property: transform ;
  transition-duration: 0.28s;
}

.contact‐form__radio {

  display: none;

}

.contact‐form__radio:checked ~ label::after {

  transform: scale(1.1);

}



/* Checkbox emulation */

.contact‐form__label-emulation-chb {

  display: inline-block;

  position: relative;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 70px;

}

.contact‐form__label-emulation-chb::before,
.contact‐form__label-emulation-chb::after {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;

}

.contact‐form__label-emulation-chb::before {

  width: 56px;
  height: 56px;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }

}

.contact‐form__label-emulation-chb::after {

  width: 56px;
  height: 56px;

  background: url("../img/icon-tick.svg") no-repeat 50% 50%;


  transform: scale(0);
  transition-property: transform ;
  transition-duration: 0.28s;
}

.contact‐form__check {

  display: none;

}

.contact‐form__check:checked ~ label::after {

  transform: scale(1.1);

}

.contact‐form__textarea {

  box-sizing: border-box;
  resize: none;

  display: block;
  width: 100%;
  height: 160px;

  min-width: 50px;

  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  padding: 20px;

  color: $black;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:focus {
    background-color: $white;
    border-color: #e5e5e5;
    outline: none;
  }

}

