.main-nav {

  min-height: 223px; /* временно для сетки */

  position: relative;

  background-color: #81b3d2;
}

.main‐nav__toggler {

  display: block;

  position: absolute;
  top: 17px;
  right: 20px;

  width: 23px;
  height: 22px;

}

.main‐nav__list {

  min-height: 223px; /* Временно для сетки */

  margin: 0;
  padding: 0;

  text-align: center;
  list-style: none;

}

.main‐nav__item {

  min-height: 56px; /* Временно для сетки */

  margin: 0;
  padding: 0;

}

@media #{$tablet-widths} {

  .main-nav {

    min-height: 57px;
    height: 57px;

  }

  .main‐nav__toggler {

    display: none;

  }

  .main‐nav__list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;

    min-height: 57px;
    height: 57px;

    margin: 0;
    padding: 0;

  }

}
