.page‐footer  {
  display: block;

  padding: 23px 20px 17px;
}

.page‐footer__hashtag  {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  line-height: 48px;

  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;
}
.page‐footer__social  {
  width: 100%;
  height: 48px;
  margin: 26px 0 32px;
  padding: 0;

  text-align: center;
}
.page‐footer__developer  {
  font-size: 14px;
  line-height: 26px;
  line-height: 48px;

  position: relative;

  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0 0 0 76px;

  text-align: left;
  text-transform: uppercase;
}

.page‐footer__acdemylogo  {
  position: absolute;
  top: 4px;
  left: 163px;

  display: inline-block;  /*middle*/

  width: 42px;
  height: 42px;
  margin-left: 7px;

  vertical-align: middle;
  &:hover #academy  {
    fill: $btn-bg-color;
  }
  &:active #academy  {
    fill: $academy-active;
  }
}

// For Tablet -----------------

@media #{$tablet-widths}  {
  .page‐footer  {
    display: flex;
    flex-direction: row;

    height: 111px;

    justify-content: space-between;
    align-items: center;
  }

  .page‐footer__hashtag  {
    width: 140px;
    margin: 0;
    margin-left: 40px;

    text-align: left;
  }
  .page‐footer__social  {
    width: auto;
    margin: 0;
    padding-top: 1px;

    text-align: center;

    flex-grow: 1;
  }
  .page‐footer__developer  {
    width: 140px;
    margin: 0;
    margin-right: 40px;
    padding: 0 0 0 10px;

    text-align: left;
  }
  .page‐footer__acdemylogo  {
    left: 98px;
  }
}

// For Desktop -----------------

@media #{$desktop-widths}  {
  .page‐footer  {
    padding: 23px 0 17px;
  }

  .page‐footer__hashtag  {
    width: 400px;
    margin: 0;
    padding: 0;

    text-align: center;
  }
  .page‐footer__social  {
    width: 400px;
    margin: 0;
  }
  .page‐footer__developer  {
    width: 400px;
    margin: 0;
    padding-right: 80px;

    text-align: right;
  }

  .page‐footer__acdemylogo  {
    left: 315px;
  }
}
