.photo-video {

}

.photo-video__title {

  margin-bottom: 40px;
  padding: 0 20px;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}

.photo-video__descr {

  margin: 0 0 35px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}
