.photos  {
  border-top: 1px solid #e5e5e5;
}

.photos__title  {
  margin: 0;
  padding: 0;
}

.photos__list  {
  padding: 0;
}

.photos__item  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #e5e5e5;
}

.photos__pic  {
  margin: 22px 20px 16px;
  padding: 0;
  & img  {
    display: block;
  }
}

.photos__info  {
  display: flex;
  flex-direction: column;

  margin: 0 20px 18px;
  padding: 0;
}

.photos__info-title  {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;

  overflow: hidden;

  margin: 0;
  padding: 0;

  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.photos__author  {
  font-size: 14px;
  line-height: 24px;

  overflow: hidden;

  margin: 0;
  padding: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.photos__likes  {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;

  height: 24px;
  margin: 6px 0 0;
  padding: 0;

  vertical-align: middle;
}

.photos__like-it  {
  font-size: 0;

  display: inline-block; /*middle*/

  width: 22px;
  height: 20px;
  margin: 0 10px 8px 0;
  padding: 0;

  cursor: pointer;
  vertical-align: middle;

  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-like, "MDAwMDAw", "YjJiMmIy")}');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 22px 20px;
  &:hover  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-like, "MDAwMDAw", "MzMzMzMz")}');
  }
  &:active  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-like, "MDAwMDAw", "YzFjMWMx")}');
  }
}


// For Tablet -----------------------

@media #{$tablet-widths}  {
  //--------------------------------

  .photos  {
    margin-top: -1px;

    border-top: none;
  }

  .photos__list  {
    display: flex;

    flex-wrap: wrap;
  }

  .photos__item  {
    overflow: hidden;

    width: 324px;
    min-height: 348px;

    border-bottom: none;
    background-color: $site-bg-color;
    &:first-child  {
      width: 668px;
      min-height: 480px;
      .photos__pic  {
        min-height: 400px;
      }
      .photos__info-title  {
        max-width: 530px;
      }
      .photos__author  {
        max-width: 530px;
      }
      .photos__likes  {
        margin-right: 0;
      }
    }
  }

  .photos__pic  {
    position: relative;

    overflow: hidden;

    min-height: 267px;
    margin: 0;
    padding: 0;
    & img  {
      position: absolute;
      top: 50%;

      display: block;

      width: 100%;

      transform: translate(0,-50%);
    }
  }

  .photos__info  {
    flex-direction: column;

    width: 100%;
    height: 80px;
    margin: 0;
    padding: 16px 20px;

    flex-wrap: wrap;
    align-content: space-between;
  }

  .photos__info-title  {
    max-width: 220px;
    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    flex-grow: 1;
  }

  .photos__author  {
    max-width: 220px;
    margin: -4px 0 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    flex-grow: 1;
  }

  .photos__likes  {
    max-width: 64px;
    margin: 12px 15px 0 0;

    text-align: left;

    flex-grow: 1;
  }

  .photos__like-it  {
    margin-right: 5px;
  }


  //--------------------------------
}

// For Desktop -----------------------

@media #{$desktop-widths}  {
  //--------------------------------

  .photos__item  {
    position: relative;

    width: 400px;
    min-height: 267px;
    &:first-child  {
      width: 1200px;
      min-height: 400px;
      .photos__info  {
        top: 320px;
      }
      .photos__info-title  {
        max-width: 1080px;
      }
      .photos__author  {
        max-width: 1080px;
      }
    }
  }

  .photos__pic  {
    overflow: hidden;

    min-height: 266px;
    margin: 0;
    padding: 0;
  }

  .photos__info  {
    position: absolute;
    z-index: 10;
    top: 188px;
    right: 0;
    bottom: 0;
    left: 0;

    color: $white;
    background-color: rgba(0,0,0,.3);
  }

  //--------------------------------
}
