.photo-video {
  margin-top: 38px;
}

.photo-video__title {

  margin-bottom: 26px;
  padding: 0 25px;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}

.photo-video__descr {

  margin: 0 0 27px;
  padding: 0 25px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

}

@media #{$tablet-widths} {

  .photo-video {

    margin-top: 75px;
    padding: 0 60px 0;

  }

  .photo-video__title {

    margin-bottom: 30px;
    padding: 0 58px;

    font-size: 30px;

  }

  .photo-video__descr {

    margin: 0 0 70px;
    padding: 0 110px;

  }

}

@media #{$desktop-widths} {

  .photo-video {
    margin-top: 113px;
    padding: 0;
  }

  .photo-video__title {
    padding: 0 380px;
  }

  .photo-video__descr {
    margin: 0 0 72px;
    padding: 0 380px;
  }

}
