.reasons {

}

.reasons_header {

  margin: 0;
  padding: 0px 25px 44px;

/*
with base64
url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMjAnIGhlaWdodD0nMjYnPg0KICAgICAgPHBvbHlnb24gcG9pbnRzPScwIDAsIDAgMjYsIDE2MCAyNicgZmlsbD0nIzgxYjNkMicvPg0KICAgICAgPHBvbHlnb24gcG9pbnRzPScxNjAgMjYsIDMyMCAyNiwgMzIwIDAnIGZpbGw9JyM4MWIzZDInLz4NCiAgICA8L3N2Zz4=")

with utf8
url("data:image/svg+xml;utf8,
    <svg xmlns='http://www.w3.org/2000/svg' width='320' height='26'>
      <polygon points='0 0, 0 26, 160 26' fill='%2381b3d2'/>
      <polygon points='160 26, 320 26, 320 0' fill='%2381b3d2'/>
    </svg>")

*/

  background-color: #ffffff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMjAnIGhlaWdodD0nMjYnPg0KICAgICAgPHBvbHlnb24gcG9pbnRzPScwIDAsIDAgMjYsIDE2MCAyNicgZmlsbD0nIzgxYjNkMicvPg0KICAgICAgPHBvbHlnb24gcG9pbnRzPScxNjAgMjYsIDMyMCAyNiwgMzIwIDAnIGZpbGw9JyM4MWIzZDInLz4NCiAgICA8L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 320px;

}

.reasons__title {

  margin-bottom: 26px;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}

.reasons__descr {

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}

@media #{$tablet-widths} {

  .reasons_header {

    padding: 0px 130px 58px;
    background-image: none;

  }

  .reasons__title {

    margin: 0 0 40px;
    padding: 0;

    font-size: 21px;

  }

}

@media #{$desktop-widths} {

  .reasons_header {

    padding: 0px 350px 58px;

  }

  .reasons__title {

    margin: 0 0 40px;
    padding: 0;

    font-size: 21px;

  }

}
