.reason {

  display: block;

  margin: 0;
  padding: 0;

  list-style: none;
}

.reason__item {

  display: block;

  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;

}

.reason__item-info {

  padding: 33px 20px 34px;

}

.reason__item:nth-child(1) {
  order: 1;
}
.reason__item:nth-child(2) {
  order: 2;
}
.reason__item:nth-child(3) {
  order: 3;
}
.reason__item:nth-child(4) {
  order: 4;
}
.reason__item:nth-child(5) {
  order: 5;
}
.reason__item:nth-child(6) {
  order: 6;
}
.reason__item:nth-child(7) {
  order: 7;
}
.reason__item:nth-child(8) {
  order: 8;
}

.reason__title {

  display: block;

  margin: 0 0 20px;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}

.reason__number {

  display: block;

  margin: 0 0 26px;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

}

.reason__descr {

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

}

.reason__img {

  img {
    display: block;
  }

}

.reason__item:last-child {
  border-bottom: none;
}

.reason__item--wide {
    border-bottom: none;
}

.reason__item--wide .reason__item-info {
  padding: 45px 20px 45px;
  background-color: #81b3d2;
}

.reason__item--wide .reason__title,
.reason__item--wide .reason__number,
.reason__item--wide .reason__descr {

  color: #ffffff;
}

.reason__item--icon {

  margin: 33px 20px 34px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: left top;

  background-color: $white;
  border-bottom: none;

}
.reason__item--icon .reason__title, .reason__item--icon .reason__descr {

  text-align: left;

}

.reason__item--burger {

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-burger, "MDAwMDAw", "ODFiM2Qy")}');
  background-size: 39px 39px;

}

.reason__item--house {

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-house, "MDAwMDAw", "ODFiM2Qy")}');
  background-size: 39px 39px;

}

.reason__item--gift {

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-gift, "MDAwMDAw", "ODFiM2Qy")}');
  background-size: 39px 39px;

}


@media #{$tablet-widths} {

  .reason {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;

  }

  .reason__item {
    width: 33%;
    min-height: 256px;
    border-bottom: none;
  }

  .reason__item:nth-child(1) {
    order: 1;
  }
  .reason__item:nth-child(2) {
    order: 2;
  }
  .reason__item:nth-child(3) {
    order: 4;
  }
  .reason__item:nth-child(4) {
    order: 3;
  }
  .reason__item:nth-child(5) {
    order: 5;
  }
  .reason__item:nth-child(6) {
    order: 6;
  }
  .reason__item:nth-child(7) {
    order: 7;
  }
  .reason__item:nth-child(8) {
    order: 8;
  }

  .reason__item-info {

    border-bottom: none;
    padding-left: 45px;
    padding-right: 45px;

  }

  .reason__item--wide {
    width: 100%;
    display: flex;
  }

  .reason__item--icon {

    box-sizing: border-box;

    margin: 0;
    padding: 0;

    height: 330px;
    padding: 164px 20px 60px;

    background-position: 50% 64px;

    .reason__title, .reason__descr {

      text-align: center;

    }

  }

  .reason__item:nth-child(5) {
    flex-direction: row-reverse;
  }
  .reason__item:nth-child(7) {
    flex-grow: 1;
  }

  .reason__item--wide .reason__item-info {
    width: 33%;
  }


  .reason__img {
    position: relative;

    width: 67%;
    height: 256px;
    overflow: hidden;
    margin: 0;
    padding: 0;

    & img {
      width: 100%;
      display: block;

      position:absolute;
      top: 50%;
      transform: translate(0,-50%);

    }
  }

  .reason__item--burger {
    background-size: 77px 77px;
  }

  .reason__item--house {
    background-size: 77px 77px;
  }

  .reason__item--gift {
    background-size: 77px 77px;
  }

}
