.reason {

  display: block;

  margin: 0;
  padding: 0;

  list-style: none;
}

.reason__item {

  display: block;

  margin: 0;
  padding: 0;

  font-size: 0;

}

.reason__item-info {

  padding: 33px 20px 34px;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;

}

.reason__title {

  display: block;

  margin: 0 0 20px;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

}

.reason__number {

  display: block;

  margin: 0 0 26px;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

}

.reason__descr {

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

}

.reason__img {
  display: block;
}

.reason__item:last-child .reason__item-info {
  border-bottom: none;
}

.reason__item--wide .reason__item-info {
  padding: 45px 20px 45px;
  background-color: #81b3d2;
  border-bottom: none;
}

.reason__item--wide .reason__title,
.reason__item--wide .reason__number,
.reason__item--wide .reason__descr {

  color: #ffffff;
}

.reason__item--icon {

  margin: 33px 20px 34px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: left top;

}
.reason__item--icon .reason__title, .reason__item--icon .reason__descr {

  text-align: left;

}

.reason__item--burger {

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-burger, "MDAwMDAw", "ODFiM2Qy")}');
  background-size: 39px 39px;

}

.reason__item--house {

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-house, "MDAwMDAw", "ODFiM2Qy")}');
  background-size: 39px 39px;

}

.reason__item--gift {

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-gift, "MDAwMDAw", "ODFiM2Qy")}');
  background-size: 39px 39px;

}
