.reasons  {
  margin: 0;
  padding: 0;
}

.reasons__header  {
  position: relative;

  margin: 0;
  padding: 40px 30px 41px;

  background-color: $white;
  &::after  {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    width: 320px;
    height: 37px;

    content: '';

    background-color: $element-bg-color;
    background-image: url('../img/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  }
}

.reasons__title  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  margin: 0 0 28px;
  padding: 0;

  text-align: center;
  text-transform: uppercase;
  & span  {
    font-style: normal;

    letter-spacing: .45px;
  }
}

.reasons__descr  {
  font-size: 14px;
  line-height: 26px;

  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;
}

// For Tablet ----------------------------------

@media #{$tablet-widths}  {
  .reasons__header  {
    padding: 50px 130px 50px;

    &::after {
      display: none;
    }
  }

  .reasons__title  {
    font-size: 21px;

    margin: 0 0 28px;
  }

  .reasons__descr  {
    letter-spacing: .04px;
  }
}


// For Desktop -------------------------------

@media #{$desktop-widths}  {
  .reasons__header  {
    padding: 50px 350px 50px;
  }

  .reasons__title  {
    font-size: 21px;
  }

  .reasons__descr  {
    letter-spacing: .05px;
  }
}
