.reservation {

  margin: 0;
  padding: 33px 20px 49px;
  background-color: #ffffff;

  text-transform: uppercase;
  text-align: center;

}

.reservation__title {

  margin: 0 0 26px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

}
.reservation__descr {

  margin: 0 0 42px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;

}

.reservation__btn {

  display: block;

}
