.review {

}

.review__title {

  height: 53px;   /*Tmp*/
  margin: 0;
  padding: 0 20px 40px;

  text-align: center;

}

.review__descr {

  height: 106px;   /*Tmp*/
  margin: 0;
  padding: 0 20px 24px;

}


@media #{$tablet-widths} {

  .review {

  }

  .review__title {

    height: 61px;   /*Tmp*/
    margin: 0;
    padding: 0 60px 40px;

    text-align: center;

  }

  .review__descr {

    height: 122px;   /*Tmp*/
    margin: 0;
    padding: 0 60px 86px;

    text-align: center;

  }

}

@media #{$desktop-widths} {

  .review__title {

    height: 62px;   /*Tmp*/
    padding: 0 120px 40px;

  }

  .review__descr {

    height: 105px;   /*Tmp*/
    padding: 0 120px 71px;

  }

}
