.review  {
  margin: 37px 0 38px;
  padding: 0;
}

.review__title  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  margin: 0 0 26px;
  padding: 0 20px 0;

  text-align: center;
  text-transform: uppercase;
}

.review__descr  {
  font-size: 14px;
  line-height: 24px;

  margin: 0 0 17px;
  padding: 0 20px 0;

  text-align: center;
  text-transform: uppercase;
}

// For Tablet -------------------------

@media #{$tablet-widths}  {
  .review  {
    margin: 40px 0 31px;
    padding: 35px 60px 0;
  }

  .review__title  {
    font-size: 30px;
    line-height: 26px;

    margin: 0 0 30px;
    padding: 0 100px;

    letter-spacing: .4px;
  }

  .review__descr  {
    margin: 0 0 75px;
    padding: 0 105px;
  }
}

@media #{$desktop-widths}  {
  .review  {
    margin: 113px 0 36px;
    padding: 0 120px 0;
  }

  .review__title  {
    padding: 0 260px;
  }

  .review__descr  {
    margin: 0 0 59px;
    padding: 0 260px;
  }
}
