.video  {
  padding-top: 32px;
  padding-bottom: 42px;
}

.video__akcent  {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  margin: 0 0 27px;
  padding: 0 20px;

  text-align: center;
  text-transform: uppercase;
}

.video__descr  {
  font-size: 14px;
  line-height: 24px;

  margin: 0 0 35px;
  padding: 0 30px;

  text-align: center;
  text-transform: uppercase;
}

.video__content  {
  position: relative;

  width: 320px;
  height: 266px;

  background: transparent url('../img/video-mobile@1x.jpg') no-repeat 0 0;
  background-size: 320px 201px;
  @media #{$retina}  {
    background: transparent url('../img/video-mobile@2x.jpg') no-repeat 0 0;
    background-size: 320px 201px;
  }
}

.video__controls  {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;

  display: flex;

  height: 110px;

  background: linear-gradient( to bottom, rgba(0, 0, 0, .65) 45px, $site-bg-color 45px, $site-bg-color 110px ) no-repeat 0 0;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
}

.video__line  {
  position: relative;

  display: flex;

  width: 236px;
  height: 11px;
  margin: 18px 22px 0;

  align-items: center;
  &::before  {
    position: absolute;
    top: 4px;
    right: 0;
    left: 0;

    height: 3px;

    content: '';

    background-color: rgba(255,255,255,.5);
  }
}

.video__control  {
  font-size: 0;

  z-index: 20;

  display: block;

  height: 20px;
  margin-bottom: 23px;

  cursor: pointer;

  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.video__control--replay  {
  width: 16px;
  margin-left: 25px;

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-replay, "MDAwMDAw", "NWM2ODcw")}');
  background-size: 16px 20px;
  &:hover  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-replay, "MDAwMDAw", "MzMzMzMz")}');
  }
  &:active  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-replay, "MDAwMDAw", "YzFjMWMx")}');
  }
}

.video__control--subtitles  {
  width: 32px;
  margin-right: 31px;
  margin-left: auto;

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-subtitles, "MDAwMDAw", "NWM2ODcw")}');
  background-size: 32px 20px;
  &:hover  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-subtitles, "MDAwMDAw", "MzMzMzMz")}');
  }
  &:active  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-subtitles, "MDAwMDAw", "YzFjMWMx")}');
  }
}

.video__control--fullscreen  {
  width: 20px;
  margin-right: 23px;

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-fullscreen, "MDAwMDAw", "NWM2ODcw")}');
  background-size: 20px 20px;
  &:hover  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-fullscreen, "MDAwMDAw", "MzMzMzMz")}');
  }
  &:active  {
    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-fullscreen, "MDAwMDAw", "YzFjMWMx")}');
  }
}

.video__control--current  {
  width: 10px;
  height: 10px;
  margin-bottom: 0;
  margin-left: 36px;

  background-image: url('data:image/svg+xml;base64,#{str-replace($icon-current, "MDAwMDAw", "ZmZmZmZm")}');
  background-size: 10px 10px;
}


@media #{$tablet-widths}  {
  .video  {
    padding: 65px 0 40px;
  }

  .video__akcent  {
    font-size: 30px;

    margin: 0 0 30px;
  }

  .video__descr  {
    margin: 0 0 73px;
    padding: 0 110px;
  }

  .video__content  {
    width: 648px;
    height: 500px;

    background: transparent url('../img/video-tablet@1x.jpg') no-repeat 0 0;
    background-size: 648px 500px;
    @media #{$retina}  {
      background: transparent url('../img/video-tablet@2x.jpg') no-repeat 0 0;
      background-size: 648px 500px;
    }
  }

  .video__controls  {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 94px;

    background: rgba(0, 0, 0, .65) no-repeat 0 0;

    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  .video__line  {
    width: 389px;
    margin: 0 auto;
  }

  .video__control  {
    margin: 0;
  }

  .video__control--current  {
    margin-left: 113px;
  }


  .video__control--replay  {
    margin-left: 35px;

    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-replay, "MDAwMDAw", "ZmZmZmZm")}');

    order: -1;
  }

  .video__control--subtitles  {
    margin-right: 31px;

    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-subtitles, "MDAwMDAw", "ZmZmZmZm")}');
  }

  .video__control--fullscreen  {
    margin-right: 41px;

    background-image: url('data:image/svg+xml;base64,#{str-replace($icon-fullscreen, "MDAwMDAw", "ZmZmZmZm")}');
  }
}

@media #{$desktop-widths}  {
  .video  {
    padding: 70px 200px 84px;
  }

  .video__akcent  {
    font-size: 30px;

    margin: 0 190px 30px;
  }

  .video__descr  {
    margin: 0 80px 72px;
  }

  .video__content  {
    width: 800px;
    height: 500px;

    background: transparent url('../img/video-desktop@1x.jpg') no-repeat 0 0;
    background-size: 800px 500px;
    @media #{$retina}  {
      background: transparent url('../img/video-desktop@2x.jpg') no-repeat 0 0;
      background-size: 800px 500px;
    }
  }

  .video__line  {
    width: 540px;
  }

  .video__control--fullscreen  {
    margin-right: 42px;
  }
}
